<template>
  <div class="index container ">
    <div class="row">
      <div class="col-12">
        <h1 class="my-5">This is one Dashboard page</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <span><font-awesome-icon icon="money-bill" size="3x" class="mb-2" /></span>
            <h5 class="card-title">
              Wallets Money
            </h5>
            <h2>
              $233.000.000
            </h2>
            <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
             <span><font-awesome-icon icon="user" size="3x" class="mb-2" /></span>
            <h5 class="card-title">
              Users
            </h5>
            <h2>
              20k
            </h2>
            <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <span><font-awesome-icon icon="store" size="3x" class="mb-2" /></span>
            <h5 class="card-title">
              Inative Stores
            </h5>
            <h2>
              10
            </h2>
            <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <span><font-awesome-icon icon="store" size="3x" class="mb-2"/></span>
            <h5 class="card-title">
              Active Stores
            </h5>
            <h2>
              2000
            </h2>
            <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
