<template>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <router-link class="nav-link active" aria-current="page" to="/">
        Dashboard
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link active" aria-current="page" to="/advertiser">
        Advertisers
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'NavBar',
};
</script>

<style>

</style>
